.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 3rem;
  background-color: rgb(14, 157, 43);
  border-radius: 2rem;
  gap: 2rem;
  .err {
    padding: 0.5rem 1rem;
    background-color: #fff;
    margin: auto;
    align-items: center;
    border: solid 1px crimson;
    border-radius: 5px;
    color: crimson;
  }
  &-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .input {
      width: 10rem;
      // height: 1rem;
      padding: 1rem;
      font-size: 2rem;
    }
    .Emailinput {
      width: 10rem;
      height: 1rem;
      padding: 1rem;
    }
    input:focus {
      outline: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  button {
    background-color: crimson;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 2rem;
  }
}
