.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10%;
  margin-top: 3rem;
  // background-color: rgb(40, 87, 189);
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
